@font-face {
    font-family: iransans-fa;
    font-style: normal;
    font-weight: normal;
    src: url("../font/iransans-fa.eot");
    src: url("../font/iransans-fa.eot?#iefix") format("embedded-opentype"),
      /* IE6-8 */ url("../fonts/iransans-fa.woff") format("woff"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../font/iransans-fa.ttf")
        format("truetype");
}

body {
    direction: rtl;
    padding: 0;
    margin: 0;
    font-family: iransans-fa !important;
    background: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

header {
    width: 100%;
    height: 90px;
    line-height: 90px;
    background: #353535;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.header-wrapper {
    width: 80%;
    margin: 0 auto;
}

.logo-pic {
    width: 40px;
}

.logo-title {
    width: 100px;
}

.header-nav li {
    text-align: center;
    width: 100px;
    margin: 0 15px;
    height: 90px;
    cursor: pointer;
}

.header-nav li.active-header-link {
    border-top: 4px solid #e71c37;
    border-bottom: 4px solid #e71c37;
}

.header-nav a {
    color: #8a8683;
}

.header-nav span {
    color: #8a8683;
    font-size: 14px;
    cursor: pointer;
}

.header-nav li.active-header-link span {
    color: #ffffff;
}

.header-nav li.active-header-link a {
    color: #ffffff;
}

.header-nav span:hover {
    color: #fff;
}

#responsive-sticky.fixed {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
}

#sticky.fixed {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
}

.home-video-wrap {
    background: url("../img/OSLOadmo_5.png");
    background-size: cover;
    height: 86.5vh;
}

.play-btn {
    width: 120px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.next-div-arrow {
    width: 120px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.projects-header h1 {
    font-weight: bold;
    font-size: 20px;
    margin: 60px 0;
    margin-top: 150px;
    color: #e71c37;
    text-align: center;
}

.projects-header p {
    font-size: 12px;
    text-align: justify;
    line-height: 25px;
    color: #8a8683;
    margin-bottom: 50px;
}

.projects-box-title {
    margin-bottom: -80px;
    width: 320px;
    height: 70px;
    background-color: #e71c37;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    z-index: 10;
    position: absolute;
    right: 50%;
    transform: translate(50%,-50%);
}

.projects-box-title h1 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    line-height: 70px;
}

.projects-archive {
    z-index: 1;
    width: 100%;
    float: right;
}

.projects-archive div {
    width: 33.33%;
    float: left;
    z-index: 1;
    position: relative;
}

.projects-archive img {
    opacity: 1;
    display: block;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.projects-archive-arrow {
    width: 100% !important;
}

.projects-archive-arrow img {
    width: 50px;
    transform: rotate(180deg);
    margin: 20px auto;
}

.projects-archive-container {
    background: #353535;
    position: relative;
    width: 50%;
}
  
.projects-archive-overlay {
    margin-top: -250px;
    width: 100% !important;
    float: right;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    text-align: center;
}

.projects-archive-container:hover .projects-archive-image {
    opacity: 0.1;
}

.projects-archive-container:hover .projects-archive-overlay {
    opacity: 1;
}

.projects-archive-title {
    width: 100% !important;
    color: #fff;
}

.projects-archive-title p {
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
}

.projects-archive-show-more {
    width: 100% !important;
    margin-top: 50px;
}

.projects-archive-show-more a {
    width: 100px;
    padding: 5px 0;
    border-top: 3px solid #e71c37;
    border-bottom: 3px solid #e71c37;
    color: #fff;
    transition: .2s ease;
}

.projects-archive-show-more a:hover {
    padding: 8px 0;
}

.about-us-header h1 {
    font-weight: bold;
    font-size: 20px;
    margin: 60px 0;
    color: #e71c37;
    text-align: center;
}

.about-us {
    margin-top: 50px;
    width: 100%;
    float: right;
}

.about-us-title {
    font-size: 12px;
    text-align: justify;
    line-height: 25px;
    color: #8a8683;
    margin-bottom: 50px;
}

.contact-us {
    width: 100%;
    float: right;
    margin-top: 50px;
}

.contact-us-left {
    background: #000;
    padding: 50px 70px;
}

.contact-us h1 {
    font-weight: bold;
    font-size: 20px;
    color: #e71c37;
}

.contact-us input {
    padding: 5px;
    background: #000;
    border: none;
    outline: none;
    border-bottom: 3px solid #8a8683;
    color: #8a8683;
    width: 50%;
    font-size: 12px;
}

.contact-us textarea {
    width: 100%;
    padding: 5px;
    background: #000;
    border: none;
    outline: none;
    border-bottom: 3px solid #8a8683;
    color: #8a8683;
    font-size: 12px;
}

.contact-us-btn1 {
    width: 100%;
    margin: 40px auto;
    background: #e71c37;
    color: #fff;
    height: 60px;
    line-height: 60px;
    border: none;
}

.contact-us-btn2 {
    width: 100%;
    margin: 40px auto;
    background: #8a8683;
    color: #fff;
    height: 60px;
    line-height: 60px;
    border: none;
}

.contact-us-info span {
    color: #fff;
    font-size: 12px;
}

.contact-us-info img {
    width: 30px;
    margin-top: 10px;
}

.contact-us-right1 {
    background: #8a8683;
    color: #fff;
    height: 300px;
    line-height: 300px;
    font-size: 60px;
    font-weight: bold;
}

.contact-us-right2 {
    background: #707070;
    color: #fff;
    height: 300px;
    line-height: 300px;
    font-size: 60px;
    font-weight: bold;
}

.contact-us-right3 {
    background: #e71c37;
    color: #fff;
    height: 300px;
    line-height: 300px;
    font-size: 20px;
    font-weight: bold;
}

.contact-us-right4 {
    background: #353535;
    color: #fff;
    height: 300px;
    line-height: 300px;
    font-size: 60px;
    font-weight: bold;
}

.contact-us-right a {
    color: #fff;
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.back-to-top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 70px 70px 70px;
    border-color: transparent transparent #e71c37 transparent;
    position: absolute;
    right: 50%;
    transform: translate(50%,-100%);
    cursor: pointer;
}

.back-to-top span {
    position: absolute;
    margin-top: 30px;
    font-size: 16px;
    color: #fff;
    margin-left: 5px;
    left: 50%;
    transform: translate(-75%,-0%)
}

.projects-complete h1 {
    font-weight: bold;
    font-size: 20px;
    color: #e71c37;
    margin: 50px 0;
}

.projects-complete-card {
    border-radius: 8px;
    border: 1px solid #353535;
}

.projects-complete-card-img img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.projects-complete-card-title {
    padding: 30px 10px;
}

.pre-nav img {
    width: 30px;
    transform: rotate(90deg);
    cursor: pointer;
}

.next-nav img {
    width: 30px;
    transform: rotate(-90deg);
    cursor: pointer;
}

.page-nav {
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    width: 40%;
}

.page-nav ul {
    padding: 0 !important;
}

.page-nav-pages li {
    text-align: center;
    margin: 0 10px;
    width: 50px;
}

.page-nav-pages li a {
    color: #000000;
}

.page-nav-active {
    border-top: 2px solid #e71c37;
    border-bottom: 2px solid #e71c37;
    background: #dfdedf;
}

.projects-more h1 {
    font-weight: bold;
    font-size: 20px;
    color: #e71c37;
    margin: 50px 0;
}

.projects-separator img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    width: 60px;
    margin: 20px 0;
}

.projects-more p {
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
    color: #353535;
    margin-bottom: 50px;
}

.cataloge-dl {
    width: 230px;
    margin: 40px auto;
    background: #e71c37;
    color: #fff;
    height: 60px;
    line-height: 60px;
    border: none;
    border-radius: 4px;
}

.cataloge-dl img {
    width: 30px;
    margin: 0 5px;
}

.swiper-container {
    width: 80%;
    height: 100%;
    margin: 50px auto;
    padding: 0 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-prev {
    background-image: url("../img/Path2.png") !important;
    position: absolute !important;
    right: -5px !important;
    padding: 0 10px !important;
}
  
.swiper-button-next {
    background-image: url("../img/Path1.png") !important;
    position: absolute !important;
    left: -5px !important;
    padding: 0 10px !important;
}

.swiper-slide img {
    width: 100%;
    height: 250px;
    transition: .2s ease;
}

.swiper-slide img:hover {
    transform: scale(.9)
}

.projects-complete-card {
    margin-top: 20px;
}

.responsive-header {
    display: none;
}

.responsive-header i {
    color: #fff;
}

.responsive-sticky {
    z-index: 200;
}

@media only screen and (max-width: 768px) {

    .responsive-header {
        width: 100%;
        background: #353535;
        z-index: 100;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    }

    .responsive-header li {
        margin: 15px 0;
        width: 100px;
    }

    .responsive-header-top {
        border-top: 1px solid #8a8683;
    }

    .responsive-header li.active-header-link {
        border-top: 4px solid #e71c37;
        border-bottom: 4px solid #e71c37;
    }
    
    .responsive-header a {
        color: #8a8683;
    }
    
    .responsive-header span {
        color: #8a8683;
        font-size: 14px;
        cursor: pointer;
    }
    
    .responsive-header li.active-header-link span {
        color: #ffffff;
    }
    
    .responsive-header li.active-header-link a {
        color: #ffffff;
    }
    
    .responsive-header span:hover {
        color: #fff;
    }

    .responsive-header {
        display: block;
    }

    .main-header {
        display: none !important;
    }

    .contact-us-info:last-child {
        margin-bottom: 50px;
    }

    .projects-archive div {
        width: 100%;
        float: left;
        z-index: 1;
        position: relative;
    }

    .logo-pic {
        width: 20px;
    }
    
    .logo-title {
        width: 75px;
    }

}